{% extends "base.html" %}

{% block content %}
<h1 class="center">Добавление вакансии</h1>

<form action="" method="post" class="labels">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
    {{ form.requirements.label }}<br>
    {{ form.requirements(class="form-control") }}<br>
    {% for error in form.requirements.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
    {{ form.conditions.label }}<br>
    {{ form.conditions(class="form-control") }}<br>
    {% for error in form.conditions.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
    {{ form.pay.label }}<br>
    {{ form.pay(class="form-control") }}<br>
    {% for error in form.pay.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>



    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
