{% extends 'base.html' %}

{% block content2 %}
<section class="page-content">
    <div class="container">
        <div class="page-content-wrapper">
            <h1>Поддержка</h1>
            <div class="form-support">
                <form action="post">
                    <textarea name="" id="" cols="30" rows="10">Напишите сообщение...</textarea>
                    <button type="submit"><span>Отправить</span></button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}