{% extends 'base.html' %}

{% block content2 %}
<section class="page-content">
    <div class="container">
        <div class="page-content-wrapper">
            <h1>Оплата</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam culpa, ea et explicabo, incidunt neque praesentium quod repudiandae sequi similique vitae voluptas voluptate voluptatibus! Distinctio ipsam natus ratione tenetur totam.</p>
            <div class="d-flex mt-5">
                <a href="/" class="green_btn mr-5"><span>В каталог</span></a>
                <a href="/delivery" class="default_btn"><span>Об оплате</span>
                    <img src="static/img/arrow_a.png" alt=""></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}